.DialogsItemWrapper {
    margin-bottom: 50px;
    transition: .4s;
    cursor: pointer;
}

.adress {
    text-decoration: none;
}

.adress img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.adress span {
    position: relative;
    left: 20px;
    bottom: 30px;
    color: #fff;
    font-size: 25px;

}

.adress span:hover,
.adress img:hover~span {
    color: gold;
}

.DialogsItemWrapper:hover {
    padding-left: 40px;
}