.DialogsItemWrapper {
    margin-bottom: 50px;
}

.adress {
    text-decoration: none;
}

.adress img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: .4s;
}

.adress span {
    position: relative;
    left: 25px;
    bottom: 40px;
    color: #fff;
    font-size: 25px;
    transition: .4s;
}

.adress span:hover,
.adress img:hover~span {
    color: gold;
}

.adress span:hover,
.adress img:hover {
    margin-left: 40px;
}