.appWrapper {
    display: grid;
    width: 1600px;
    margin: 0 auto;
    grid-template-areas:
        "head head"
        "sidebar content";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 3fr 9fr;
    color: #fff;
}

.content {
    grid-area: content;
    background: #063146;
    padding: 20px 20px;
}
